export XMODIFIERS=@im=ibus
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus

mkdir /tmp/temporary
ln -s /tmp/temporary ~/


xrandr --output HDMI1 --primary --left-of HDMI2 --output HDMI12--auto
#xrandr --setmonitor VIRTUAL2 auto HDMI1,HDMI2



ibus-daemon -drx
barrier &
#synergy &
#. .xsession
xkbcomp -I$HOME/.xkb $HOME/.keymap.xkb $DISPLAY

